
::ng-deep .toast-success {
  background-color: rgb(44, 215, 1);
  color: #f1faee;
  font-weight: bold;
  border-radius: 10px;
}

.contenedorDash{
  display: flex;
  flex-direction: column;
  height: 100vh;

  width: 100%;
  max-width: 100%;
  
  
}

.itemHeader{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 2%;
  
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 128, 255));
  color: aliceblue;
  flex: 0;



  
}



.itemtabla{
  
  margin-bottom: 0; /* Elimina cualquier margen inferior */
  font-size: 15px;
  
}



th,td{
  background-color: rgb(9, 60, 170);
  color: aliceblue;
  text-align: center;
  border-bottom: 0.5px solid rgb(255, 255, 255);
  border-collapse: collapse;
}




.itemFooter{
  display: flex;
  flex-direction:column;
  align-items: center;
  color: aliceblue;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 128, 255));
  flex: 3;
 
  
}

.contenedorMedia{
  display: flex;
  flex-direction:row;
  width: 200px;
  height: 70px;
  align-items: center;
  justify-content:space-around;
}

.contenedorCesar{
  display: flex;
  flex-direction:row;
  height: 30px;
}

.bell{
  color: rgb(51, 255, 0);
  cursor: pointer;
}

.bell:hover{
  
  color: rgb(245, 241, 9);
}

.boton{
  background-color: rgb(48, 241, 0);
  color: rgb(255, 255, 255);
  
}

.boton:hover{
  background-color: rgb(51, 255, 0);
  
}

.botonEditar{
  color: rgb(51, 255, 0);
}
.botonEditar:hover{
  color: rgb(245, 241, 9);
}


.botonEliminar{
  color: rgb(255, 17, 0);
}
.botonEliminar:hover{
  color: rgb(245, 241, 9);
}


/*movil*/
@media (max-width: 558px) {
  .itemHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 5%;
    padding-bottom: 5%;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 128, 255));
    color: aliceblue;
  }

  .itemHeader h1 {
    margin: 0px;
  }

  .boton{
    background-color: rgb(48, 241, 0);
    color: rgb(255, 255, 255);
    width: 350px;
  }
  .boton:hover{
    background-color: rgb(51, 255, 0);
    
  }

  
}




.hamburger {
  font-size: 30px;
  cursor: pointer;
  padding: 20px;
}

.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 128, 255));
  color: white;
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 1000;
}

.menu.open {
  right: 0;
}

.menu .close-btn {
  font-size: 25px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}

.menu ul {
  list-style: none;
  padding: 60px 0 0;
}

.menu ul li {
  padding: 15px 0;
  border-bottom: 1px solid #555;
  
}

.lista button {
  display: flex;
  justify-content: center;
  width: 90%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}








  